.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: plum;
}

.sub_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    margin: 5px;
}